- if target.errors.any?
  .alert-message.block-message.error{:"data-alert" => "alert"}
    %a.close{:href => "#"}×
    %p
      %strong
        = "#{pluralize(target.errors.count, "error")} prohibited this record from being saved:"
    %ul
      - target.errors.full_messages.each do |msg|
        %li= msg